<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="/assets/demo/images/logos/niger01.png" alt="Niger Logo" class="mb-5 w-6rem flex-shrink-0">
        <!--<img src="/assets/demo/images/logos/niger-colors.png" alt="Niger Logo" class="a" height="100%">-->
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, #E47724 10%, rgba(228, 119, 36, 0) 30%);">

            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <span class="text-600 font-medium">Connectez-vous</span>
                </div>

                <!-- Affichage de l'alerte d'erreur générale -->
                <div *ngIf="errorMessage" class="p-error mb-3">
                    <p>{{ errorMessage }}</p>
                </div>

                <!-- Affichage de l'alerte si les champs sont vides 
                <div *ngIf="isFormInvalid" class="p-error mb-3">
                    <p>Veuillez remplir tous les champs pour vous connecter.</p>
                </div>-->

                <div>
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">E-mail</label>
                    <input id="email1" type="email" [(ngModel)]="email" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" required email>

                    <!-- Message d'erreur si l'email est invalide -->
                    <div *ngIf="isEmailInvalid" class="text-red-500 text-sm">
                        L'adresse email doit être valide (ex: user&#64;example.com).
                    </div>

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Mot de passe</label>
                    <p-password id="password1" [(ngModel)]="password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Mémoriser mes informations</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" routerLink="/securite/acces" style="color: #E47724">Mot de passe oublié?</a>
                    </div>
                    <button pButton pRipple label="Se connecter" class="w-full p-3 text-xl" style="background-color: #E47724; border-color: #E47724;" (click)="onLogin()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
